---
- name: systemd daemon reload
  ansible.builtin.systemd:
    daemon_reload: true

- name: restart prometheus
  ansible.builtin.systemd:
    name: prometheus
    state: restarted

- name: reload prometheus
  ansible.builtin.systemd:
    name: prometheus
    state: reloaded

- name: restart node_exporter
  ansible.builtin.systemd:
    name: node_exporter
    state: restarted
